*{
    box-sizing: border-box;
}

:root {
  --cyan: hsl(179, 62%, 43%);
  --yellow: hsl(71, 73%, 54%)
}

body {
    background-color: red;
}

.container {
    display: flex;
    width: 630px;
    height: 470px;

}