* {
vertical-align: baseline;
font-weight: inherit;
font-family: inherit;
font-style: inherit;
font-size: 100%;
border: 0;
outline: 0;
padding: 0;
margin: 0;
}

:root {
  --cyan: hsl(179, 62%, 43%);
  --cyan2: hsl(179, 62%, 49%);
  --yellow: hsl(71, 73%, 54%);
  --lgrey: hsl(204, 43%, 93%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lgrey);
}

.container {
    border-radius: 1rem;
    width: 630px;
    height: 470px;
    background-color: var(--yellow);
    margin-top: 160px;
}

.community {
    background-color: white;
    height: 210px;
}
.subscription {
    border: 1px solid white;
    background-color: var(--cyan);
    width: 50%;
}
.why {
    border: 1px solid aqua;
    background-color: var(--cyan2);
    width: 50%;
}
.bottom {
    display: flex;
    background-color: pink;
    height: 260px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

ul li {
    list-style-type: none;
}