*{
    box-sizing: border-box;
}

:root {
  --cyan: hsl(179, 62%, 43%);
  --yellow: hsl(71, 73%, 54%)
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.container {
    width: 630px;
    height: 470px;
    background-color: var(--yellow);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}